// @import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import 'scss/_colors.scss' ;
@import 'scss/_nav.scss' ;
@import 'scss/_footer.scss' ;
@import 'scss/_accueil.scss' ;
@import 'scss/_slideshow.scss' ;
@import 'scss/_collapsibles.scss' ;
@import 'scss/_advert.scss' ;
@import 'scss/_about.scss' ;
@import 'scss/_404.scss' ;

body{
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: 1330px;
  padding: 0 1rem;
  margin: 0 auto;
}