/*** CSS PAGE ACCUEIL  */
.banner{
    width: 100%;
    position: relative;
    background: $color_banner_mixed;
    border-radius: 10px;
    margin: 20px 0;
    @media only screen and (max-width: 1024px){
        height: 110px;
    }

    @media only screen and (min-width: 1025px){
        height: 220px;
        border-radius: 20px;
    }
    
    &-img{
        width: 100%;
        @media only screen and (max-width: 1024px){
            height: 110px;
        }

        @media only screen and (min-width: 1025px){
            height: 220px;
            border-radius: 20px;
        }
        object-fit: cover;
        border-radius: 10px;
        mix-blend-mode: multiply;
    }

    &-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color_white;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        margin: auto;
    }
}

.adverts{
    @media only screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 1rem 2rem;
        border-radius: 20px;
        background-color: $background-color-content-adverts;
    }
    
    .advert{
        width: 100%;
        @media only screen and (min-width: 768px){
            width: 30%;
        }

        height: 250px;
        background: linear-gradient(180deg, $color-primary 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
        position: relative;
        display: flex;
        align-items: flex-end;
        margin: 20px 0;
        &:hover{
            cursor: pointer;
        }
        &-title{
            margin: 1rem;
            width: 100%;
            color: $color_white;
            font-weight: 500;
        }
    }

}