/**
*   Initialisation des couleurs
*/
$color-primary : #FF6060;
$color-secondary : #fa4e4e;
$color_banner_mixed: #b8b6b6;
$color_white : #ffffff;
$color_black : #000000;
$color_none:#E3E3E3;
$background-color-content-collapse : #F6F6F6;
$color_none:#E3E3E3;
$background-color-content-adverts : #F6F6F6;