/********* NAVBAR **************/
.navbar{
    @media only screen and (max-width: 1024px){
        padding: .5rem 0;
    }
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    &-logo{
        font-weight: 500;
        color: $color-primary;
        text-align: center;
        text-decoration: none;
        &-start{
            padding-right: .3rem;
            @media only screen and (min-width: 1025px){
                font-size: 80px;
            }
            font-size: 50px;
        }

        &-svg{
            padding-right: .3rem;
            @media only screen and (min-width: 1025px){
                height: 30px;
            }
            height: 25px;
        }

        &-end{
            padding-right: .3rem;
            @media only screen and (min-width: 1025px){
                font-size: 50px;
            }
            font-size: 40px;
        }
    }



    &-link{
        @media only screen and (max-width: 350px){
            width: 50%;
        }

        @media only screen and (min-width: 768px){
            width: 20%;
        }
       
        width: 40%;
        padding: unset;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        &-item{
            font-size: 14px;
            font-weight: 500;
            @media only screen and (min-width: 1025px){
                font-size: 24px;
            }
            a{
                color: $color-primary;
                text-decoration: unset;
                &:hover,:focus{
                    text-decoration: underline;
                }
            }
            
        }
    }
}