.navbar{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo{
        display: flex;
        align-items: flex-end;
    }

    &-svg{
        @media only screen and (max-width: 1024px){
            &-primary{
                height: 40px;
                padding: .2rem;
            }
            &-secondary{
                padding: .2rem;
                height: 30px;
            }   
        }
    }

    &-link{
        padding: unset;
        display: flex;
        align-items: center;
        list-style: none;

        &-item{
            padding: .5rem;
            font-size: 14px;
            a{
                color: $color-primary;
                text-decoration: unset;
                &:hover,:focus{
                    text-decoration: underline;
                }
            }
            
        }
    }
}